* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background-color: #f5f7fa !important;
  background-color: #eef2f7 !important;
  font-family: 'Roboto', sans-serif!important; 
}

.mb-sm-15 {
  @media only screen and (max-width: 768px) {
    margin-bottom: 15px;
  }
}